
/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*------------------------------------*/
/*CSS VARIABLES HERE*/

:root{
/*Colors*/
--body-color:#FFFFFF;
--body-color-light:#dedede;
--body-color-dark:#222;
--text-color-light:#fcfcfc;
--text-color-dark:#222;
--extra-color:#00CBC7;
--shadow-bright-uper:rgba(255, 255, 255, 0.8);
--shadow-dim-bottom:rgba(17, 17, 17, 0.3);
--dark-bright:rgba(255, 255, 255, 0.05);
--light-blue:#E0F2FE;
--dark-blue:#44619D;
--dark-border:#111;
--gray-border:#999292;
--highlight-color:#02CAC7;
--header-color:#00C5C6;
--font-color:#04a1a1;

--TextColor-Yellow:#F9C659;

        /*TYPOGRAPHY HERE SIZES */
        --main-font:'Poppins', sans-serif;
        --biggest-size:1.5rem;
        --normal-size:0.9rem;
        --small-size:0.7rem;

}


  /*TypoGraphy for Larger Screen*/
        @media screen and (min-width: 1250px) {
            :root {
                --biggest-size: 2rem;
                --normal-size: 1.2rem;
                --small-size: 0.9rem;
            }
        }







        /* Base Start From Here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color:var(--body-color);
 margin: auto;
 width: auto;
}
/* a > img,.filter-white { 
    width: 2rem; 
    height: 2.5rem;  
    filter: invert(100%) sepia(0%) saturate(0) hue-rotate(0deg) brightness(100%) contrast(100%); } */

header,.nav_list,li{
    display: flex;
    gap: 1rem;
}

header{
    flex-direction: row;
    align-items: center;
    background-color: var(--extra-color);
    justify-content:space-around;
    height: 4rem;
}

.nav_list *{
    padding: 0 8px;
    text-decoration: none;
    color: var(--text-color-light);
    font-family: var(--main-font);
    font-size: var(--normal-size);
    

}
/* Name logo */
.name_logo{
    margin-right: 44rem;
    text-decoration: none;
    color:var(--TextColor-Yellow);
    font-family: var(--main-font);
    font-size: var(--biggest-size);
    font-weight: bold;
   box-shadow: inset 1px 1px 1px var(--shadow-dim-bottom),
                inset -1px -1px 1px var(--shadow-bright-uper);

}

/* ABOUT ME SECTION HERE */
.about_section{
    display: flex;
    line-height: 1.7;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family:Helvetica, sans-serif;

}
/* div */
.img_mine{
    width: 30%;
    height: 30%;
    /* background-image: none; */

}
.color_name{
    color: var(--extra-color);
   
}

/* Skills STart From Here */

    

    h2{
        margin-left: 2rem;
        color: var(--font-color);
        text-shadow: var(--dark-border);
        font-family: var(--main-font);
        font-size: var(--biggest-size);
    } 
    /* .main_section{} main hero section  */

    /* .skills_section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        width: auto;
        margin-left: 1.5rem;
    } Not using */

 /* Common style for all boxes */
.skills_section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 200px;
    border: 2px solid var(--gray-border);
    box-shadow: 3px 3px 3px var(--body-color-light),
              -3px -3px 3px var(--shadow-bright-uper);
    text-align: center;
    margin: 2.5rem;
    padding: 10px;
}

/* Style for the first line of boxes */
.skills_section{
    display: flex;
    flex-wrap: wrap;  /* Allowing all boxes to the next line*/
   
}
.skills_section, p{
     margin-top: 2rem;
   
}
.skills_section, span{
     margin-top: 2rem;
   
}
/* .skills_section, div>img{
    width: 20px;
   
} */
/* Style for boxes in the first line */
.html_box, .css_box, .javascript_box, .react_box {
    flex-basis: 15%; /* Each box takes up 15% of the width to have four boxes in one line */
   
}

/* Style for boxes in the second line */
.node_box,.tailwind_box {
    flex-basis: 15%; /* Each box takes up 15% width in the second line */
}

/* Additional styling for Node to ensure it's in the second line */
/* .node_box{
    order:1; 
} */


  /*--Projects Section start Here--*/
  h6{
    font-family: var(--main-font);
    font-size: var(--small-size);
    margin-top: 1.5rem;
  }
  .projects_section ul{
    list-style-type: disc;
    margin-left: 2rem;
  }

  .projects_section li{
    display: list-item;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .projects_section p{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-bottom: 1.5rem;
    
    &::after{
        content:"";
        position: absolute;
        border-bottom:2px solid var(--dark-border);
        bottom: 0;
        left: 0;
        width: 50rem;
        height: 1px;       
     }
  }
         /* .projects_section, .lst_li{
        
        } */



        /*--RECOMMENDATION---SECTION--START--HERE---*/
        h5{
            font-family: var(--main-font);
            font-size: var(--normal-size);
            color: var(--extra-color);
        }

        .recommendation_section, h2{
           margin-top: 2rem;
        }
        
        .recommendation_box > div{
            width: 100px;
            height: 200px;
            border: 2px solid var(--dark-border);
            text-align: center;
            margin: 1rem;
        }
        
        .recommendation_box{  
            display: flex;
            flex-wrap: wrap;
            margin-left: 3rem;
        }

        .review_box{
            flex-basis: 25%;
            border-radius: 5px;
        }
        .review_box1{
            flex-basis: 25%;
            border-radius: 5px;
        }
        
        .write_recommend{
        margin-top: 2rem;
        text-align: center;
        margin-right: 5rem;
        width: 100%;
        }
        #name{
            margin-top:0.75rem;
            width: 32rem;
        }
        #message{
            margin-top: 1rem;
        }
        .submit{
            margin-top: 1.5rem;
            text-decoration: none;
            border: 2px solid var(--dark-border);
            border-radius: 3px;
            padding: 5px;
            font-family: var(--main-font);
            font-weight: bold;
            box-shadow: var(--light-blue);
            font-size: medium;
            background-color: var(--extra-color);
            color: var(--text-color-light);
            width: 5rem;
            
        }
        
        /* UP ARROW HOME ICON */
    
    #up_arrow {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 20px; /* Adjust the bottom value to set the distance from the bottom of the viewport */
    margin-left: 70rem;
    /* right: 20px; Adjust the right value to set the distance from the right side of the viewport */
}

/* Optional: Add margin to the up arrow for spacing */
.filter-white {
    margin-right: 15px;
    width: 25px;
    height: 30px;
    filter: invert(56%) sepia(40%) saturate(3360%) hue-rotate(170deg) brightness(91%) contrast(90%);
  
}
 