       
   /* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*------------------------------------*/
/*CSS VARIABLES HERE*/

:root{
/*Colors*/
--body-color-light:#dedede;
--body-color-dark:#222;
--text-color-light:#fcfcfc;
--text-color-dark:#222;
--shadow-bright-uper:rgba(255, 255, 255, 0.8);
--shadow-dim-bottom:rgba(17, 17, 17, 0.3);
--dark-bright:rgba(255, 255, 255, 0.05);
--dark-dim:rgba(0, 0, 0, 0.5);
--dark-border:#111;
--highlight-color:rgb(22, 189, 201);
--background-color-Yellow:#FFFF00;
--light-Green:#2de380;
--background-color-red:#FF0000;
    
        /*TYPOGRAPHY HERE SIZES */
        --main-font:'Poppins', sans-serif;
        --biggest-size:1.5rem;
        --normal-size:0.9rem;
        --small-size:0.7rem;

}    
       
       
    
       
       
       /*STOP WATCH CSS HERE*/

        /* Inside your existing CSS */
/* ----------- Stop Watch ---------- */
/* Add overflow property to prevent overflow */
.clock__data {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Existing styles for stopwatch */
.stopwatch {
    font-size: var(--biggest-size);
    margin-top: 0.75rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch span {
    margin: 0 0.3rem;
}

.stopwatch_btn {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    align-items: center;
}

    .stopwatch_btn button {
        margin: 0 0 10px 3px;
        padding: 0.3rem 0.6rem;
        font-size: var(--normal-size);
        border: 1px solid black;
        border-radius: 25px;
        cursor: pointer;
    }
    /*------------
    .stopwatch-button{
        margin: 1rem 0 0 0;
        padding: 5px;
        border-radius:10px;
        cursor: pointer;
        background-color: var(--highlight-color);
        color: var(--text-color-light);
        font-weight: bold;
        font-family:Helvetica;
        
    }
    -----*/
    
/* Existing styles for stopwatch and button */

/* Hide stopwatch-container by default */
/* .stopwatch-container {
    display: none;
} */

/* Style the main button */

/* .stopwatch-button {
    padding: 0.3rem 0.6rem;
    font-size: var(--normal-size);
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* Dark theme for the main button */
/* .dark__theme .stopwatch-button {
    background-color: var(--text-color-dark);
    color: var(--highlight-color);
} */


/*-----**------$------**--*/
/*Stop watch button Css styling here*/
.start_btn{
    background-color:var(--light-Green);
    color: var(--text-color-light);
}
.stop_btn{
    background-color:var(--background-color-red);
     color: var(--text-color-light);
}
.reset_btn{
    background-color:var(--background-color-Yellow);
     color: var(--text-color-dark);
}

.stop_btn:hover{
    background-color:rgb(224, 51, 51);

}
.start_btn:hover{
    background-color: rgb(72, 185, 72);
}
.reset_btn:hover{
    background-color: rgb(237, 237, 26);
}



/* Dark theme for Stopwatch */
.dark__theme .stopwatch {
    color: var(--highlight-color);
}

.dark__theme .stopwatch_btn button {
    background-color: var(--text-color-dark);
    color: var(--highlight-color);
}
.dark__theme .stopwatch_btn :hover{
    background-color: #4b4a4a;
}



/*------Stop css end-------------*/